* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  --primary: #e8f4e7;
  --secondary: #f13914;
  --accent: #7e0ec8;
  --black: #1c221b;
  --gray: #525751;
  --white: #f5f5f5;
}

body {
  min-height: 100vh;
  margin: 0 auto;
  background-color: var(--primary);
}

h1 {
  font-family: "Calistoga", serif;
  font-size: 5rem;
}

h2 {
  font-family: "Calistoga", serif;
  font-size: 2rem;
  line-height: 1.5;
}

p {
  font-size: 1rem;
  font-weight: 400;
  max-width: 70ch;
  line-height: 1.5;
}

img {
  border-radius: 24px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1;
}

main section {
  padding: 0 32px
}

.navigation {
  background: var(--primary);
  padding: 32px;
}

.nav-links {
  display: flex;
  gap: 16px;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  padding: 16px;
  color: var(--black);
}

.logo {
  font-family: "Calistoga", serif;
  text-decoration: none;
  color: var(--accent);
  font-size: 32px;
  font-weight: 400;
  font-style: normal;
}

.logo span {
  font-family: "Calistoga", serif;
  font-size: 32px;
  color: var(--secondary);
  font-weight: 400;
  font-style: normal;
}

.banner {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 0 80px 0;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/banner/banner.jpg);
  background-size: cover;
}

.banner h1 {
  color: var(--primary);
  margin: 8px;
}

.banner p {
  color: var(--primary);
  text-align: center;
  width: 90%;
  margin: 8px;
}


.btn-primary {
  background-color: var(--secondary);
  padding: 16px 32px;
  font-weight: 400;
  font-size: 1rem;
  color: var(--white);
  border: 1px solid var(--secondary);
  border-radius: 8px;
  margin: 16px;
}

.about {
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: space-between;
}

.about img {
  height: 400px;
}

