* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
}

:root {
    --primary: #E8F4E7;
    --secondary: #F13914;
    --accent: #7e0ec8;
    --black: #1C221B;
    --gray: #525751;
    --white: #F5F5F5;
}

body {
    min-height: 100vh;
    margin: 0 auto;
    background-color: var(--primary);
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 48px 0;
}

.nav-links {
    display: flex;
    gap: 16px;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    padding: 16px;
    color: var(--black);
}

.logo {
    font-family: "Calistoga";
    text-decoration: none;
    color: var(--accent);
    font-size: 32px;
    font-weight: 400;
    font-style: normal;
}

.logo span {
    font-family: "Calistoga";
    font-size: 32px;
    color: var(--secondary);
    font-weight: 400;
    font-style: normal;
}

.banner {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/banner/banner.jpg);
    background-size: cover;
}