/* =====================
  CSS Reset styling
======================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* =====================
  Brand Colors
======================== */
:root {
  --primary: #e8f4e7;
  --secondary: #f13914;
  --accent: #7e0ec8;
  --black: #1c221b;
  --gray: #525751;
  --light-gray: #A3A6A3;
  --white: #f5f5f5;
}

/* =====================
  Global Styling
======================== */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin: 0 auto;
  background-color: var(--primary);
}

h1 {
  font-family: "Calistoga", serif;
  font-size: 5rem;
}

h2 {
  font-family: "Calistoga", serif;
  font-size: 2rem;
  line-height: 1.5;
}

p {
  font-size: 1rem;
  font-weight: 400;
  max-width: 70ch;
  line-height: 1.5;
}

b {
  font-size: 1.2rem;
  font-weight: 700;
  list-style: 1.5;
  line-height: 1.5;
  margin: 8px;
}

i {
  font-style: italic;
  max-width: 30ch;
  text-align: center;
}

img {
  border-radius: 24px;
}

/* =====================
  Main Sections Styling
======================== */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1;
}

main section {
  padding: 0 32px;
  margin: 0px 0 80px 0;
}

/* =====================
  Navigation Styling
======================== */
.navigation {
  background: var(--primary);
  padding: 32px;
  border-bottom: 2px solid var(--gray);
}

.nav-links {
  display: flex;
  gap: 16px;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  padding: 16px;
  color: var(--black);
}

.logo {
  font-family: "Calistoga", serif;
  text-decoration: none;
  color: var(--accent);
  font-size: 32px;
  font-weight: 400;
  font-style: normal;
}

.logo span {
  font-family: "Calistoga", serif;
  font-size: 32px;
  color: var(--secondary);
  font-weight: 400;
  font-style: normal;
}

/* =====================
  Banner Styling
======================== */
.banner {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/banner/banner.jpg);
  background-size: cover;
}

.banner h1 {
  color: var(--primary);
  margin: 8px;
}

.banner p {
  color: var(--primary);
  text-align: center;
  width: 90%;
  margin: 8px;
}

/* =====================
  Button Styling
======================== */
.btn-primary {
  background-color: var(--secondary);
  padding: 16px 32px;
  font-weight: 400;
  font-size: 1rem;
  color: var(--white);
  border: 1px solid var(--secondary);
  border-radius: 8px;
  margin: 8px 0 0 0;
}

/* =====================
  About Section Styling
======================== */
.about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 40px;
  justify-content: center;
}

.about img {
  height: 400px;
}

/* =====================
  Menu Section Styling
======================== */

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.menu-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-contents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px;
  cursor: pointer;
  background-color: var(--gray);
  padding: 32px 32px 24px 32px;
  border: 2px solid var(--gray);
  border-radius: 32px;
  background-color: var(--white);
  box-shadow: 4px 4px 32px var(--light-gray);
}

/* =====================
  Team Section Styling
======================== */

.team {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.team-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;
}

/* =====================
  Review Section Styling
======================== */

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url(/banner/reviewBanner.jpg);
  background-size: cover;
  padding: 40px;
}

.review-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary);
}

.review-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.review-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 16px;
  cursor: pointer;
  background-color: var(--gray);
  padding: 32px 32px 24px 32px;
  border: 2px solid var(--gray);
  border-radius: 32px;
  gap: 8px;
  background-color: var(--white);
}

/* =====================
  Contact Section Styling
======================== */

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.contact-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.form-container {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border: 2px solid var(--gray);
  border-radius: 16px;
  width: 500px;
  padding: 24px;
  gap: 24px;
}

input {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid var(--gray);
  border-radius: 4px;
}

.btn-secondary {
  max-width: 200px;
  margin: 0;
  padding: 16px 32px;
  background-color: var(--primary);
  font-weight: 400;
  font-size: 1rem;
  color: var(--white);
  border: 2px solid var(--secondary);
  border-radius: 8px;
  color: var(--secondary);
  text-align: center;
}

/* =====================
  Footer Section Styling
======================== */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--black);
  color: var(--primary);
  width: 100%;
  padding: 24px;
}
